In [4]:
import psycopg2 as pg2
import logging
import pandas as pd
from sqlalchemy import create_engine
from io import StringIO
import csv
import pandas as pd

In [5]:
def connect():
    try:
        conn_string = "host='localhost' dbname ='e_commerce' user='postgres' password=1234 port=5433"
        conn=pg2.connect(conn_string)
    except:
        logging.error("The access is denied!")
    cur=conn.cursor()
    return cur,conn
cursor,conn=connect()

In [12]:
def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [13]:
engine=create_engine('postgresql://postgres:1234@localhost:5433/e_commerce')
data=pd.read_csv('/cache/truncated_data.csv')
columns=['product_category_name','review_score','payment_sequential','payment_type','customer_id',
       'payment_installments','payment_value','price', 'freight_value', 'customer_unique_id','order_purchase_timestamp','order_status','main_category']
customer_data=data.loc[:,columns]
customer_data.to_sql('customer',engine,method=psql_insert_copy)

### 2. SQL For Data Analysis
#### 2.1 Decile Analysis

```sql

	with pre as(
    select customer_unique_id,
           customer_id,
           main_category,
           payment_value,
           order_purchase_timestamp as order_date
           from customer
           where order_status!='canceled' or order_status!='unavailable')
     ,user_purchase as(
      select customer_unique_id as user_id,
             sum(payment_value) as total_amount
             from pre 
             group by customer_unique_id)
      ,user_with_decile as(
      select  user_id,
              total_amount,
              ntile(10) over(order by total_amount desc) as decile
              from user_purchase)
     ,merged_data as(
      select c.customer_unique_id,
             c.main_category,
             c.payment_value,
             substring(c.order_date,1,4) as year,
             substring(c.order_date,6,2) as month,
             u.decile
             from pre as c
                  left join user_with_decile as u
                       on c.customer_unique_id=u.user_id)
      ,monthly_amount as(
	   select concat(year,'-',month) as year_month,
		      sum(payment_value) as monthly_amount
		      from merged_data
		      group by year,month)
	 ,cal_index as (
	  select year_month,
		    monthly_amount as monthly_amount,
		    sum(case when year_month>='2017-08' then monthly_amount end) over(order by year_month rows between unbounded preceding and current row) as agg_amount,
		    sum(monthly_amount) over(order by year_month rows between 11 preceding and current row) as year_avg_amount
		    from monthly_amount)
	  select year_month,
	         monthly_amount,
	         round(cast(agg_amount as numeric),0) as agg_amount,
			 round(cast(year_avg_amount as numeric),0) as year_avg_amount
			 from cal_index where year_month between '2017-08' and '2018-08' order by year_month
```

![image](https://user-images.githubusercontent.com/53164959/86260899-dcdd5e00-bbf8-11ea-92c9-5e3f9e0a6ade.png)

```sql
with pre as(
	select customer_unique_id,
	       customer_id,
	       payment_value,
	       substring(order_purchase_timestamp,1,10) as order_date
	       from customer_data
	       where order_status!='canceled' or order_status!='unavailable')
     ,user_purchase as(
	  select customer_unique_id as user_id,
		     sum(payment_value) as total_amount
		     from pre 
		     group by customer_unique_id)
	 ,user_with_decile as(
	  select  user_id,
		      total_amount,
		      ntile(10) over(order by total_amount desc) as decile
		      from user_purchase)
	 ,decile_with_purchase_amount as(
	   select decile,
		      sum(total_amount) as amount,
		      avg(total_amount) as avg_amount,
		      sum(sum(total_amount)) over(order by decile) as cum_sum,
		      sum(sum(total_amount)) over () as total_sum
		      from user_with_decile
		      group by decile)
	select decile,
	       round(cast(amount as numeric),2) as group_sum,
		   round(cast(avg_amount as numeric),2) as group_avg,
		   round(cast(100*amount/total_sum as numeric),2) as total_ratio,
		   round(cast(100*cum_sum/total_sum as numeric),2) as cumulative_ratio
		   from decile_with_purchase_amount;
```

![image](https://user-images.githubusercontent.com/53164959/86034174-0ec5b780-ba75-11ea-9606-30938a736689.png)
![image](https://user-images.githubusercontent.com/53164959/86034113-f6ee3380-ba74-11ea-9b3a-c0dbe7ef2fef.png)

```sql
create table main_category as (
 with pre as(
	select customer_unique_id,
	       customer_id,
	       payment_value,
	       substring(order_purchase_timestamp,1,10) as order_date
	       from customer
	       where order_status!='canceled' or order_status!='unavailable')
	 ,user_purchase as(
	  select customer_unique_id as user_id,
		     sum(payment_value) as total_amount
		     from pre 
		     group by customer_unique_id)
	  ,user_with_decile as(
	  select  user_id,
		      total_amount,
		      ntile(10) over(order by total_amount desc) as decile
		      from user_purchase)
	 ,merged_data as(
	  select c.customer_unique_id,
		     c.main_category,
		     c.payment_value,
		     u.decile
		     from customer as c
		          left join user_with_decile as u
		               on c.customer_unique_id=u.user_id)
	 select 
	        main_category,
	        round(cast(sum(payment_value) as numeric),0) as total_sum
			from merged_data
			group by main_category
			having main_category!='extra_category'
			order by total_sum desc);
```   
![image](https://user-images.githubusercontent.com/53164959/86039772-e2faff80-ba7d-11ea-9d74-24cf6f3b85f7.png)

```sql
with pre as(
	select customer_unique_id,
	       customer_id,
	       payment_value,
	       substring(order_purchase_timestamp,1,10) as order_date
	       from customer
	       where order_status!='canceled' or order_status!='unavailable')
	 ,user_purchase as(
	  select customer_unique_id as user_id,
		     sum(payment_value) as total_amount
		     from pre 
		     group by customer_unique_id)
	  ,user_with_decile as(
	  select  user_id,
		      total_amount,
		      ntile(10) over(order by total_amount desc) as decile
		      from user_purchase)
	 ,merged_data as(
	  select c.customer_unique_id,
		     c.main_category,
		     c.payment_value,
		     u.decile
		     from customer as c
		          left join user_with_decile as u
		               on c.customer_unique_id=u.user_id)
       ,top_categories as(
	   select decile ,
	          main_category,
	          round(cast(sum(payment_value) as numeric),0) as category_value,
			  round(cast(sum(sum(payment_value)) over(partition by decile) as numeric),0) as decile_sum,
			  round(cast(sum(payment_value)/sum(sum(payment_value)) over(partition by decile) as numeric),2)*100 as ratio,
			  rank() over(partition by decile order by sum(payment_value) desc) as ranks
			  from merged_data 
			  group by decile,main_category)
		  select decile,
	             main_category,
		         category_value,
				 decile_sum,
				 ratio,
				 ranks
				 from top_categories
				 where ranks<=3
				 order by decile,ranks
```

![image](https://user-images.githubusercontent.com/53164959/86201762-60686200-bb9b-11ea-9251-589ed838f3f8.png)

![image](https://user-images.githubusercontent.com/53164959/86201686-30b95a00-bb9b-11ea-9b9e-d4b621e30b28.png)

```sql

with pre as(
	select customer_unique_id,
	       customer_id,
	       main_category,
	       payment_value,
	       order_purchase_timestamp as order_date
	       from customer
	       where order_status!='canceled' or order_status!='unavailable')
	 ,user_purchase as(
	  select customer_unique_id as user_id,
		     sum(payment_value) as total_amount
		     from pre 
		     group by customer_unique_id)
	  ,user_with_decile as(
	  select  user_id,
		      total_amount,
		      ntile(10) over(order by total_amount desc) as decile
		      from user_purchase)
	 ,merged_data as(
	  select c.customer_unique_id,
		     c.main_category,
		     c.payment_value,
		     substring(c.order_date,1,4) as year,
		     substring(c.order_date,6,2) as month,
		     u.decile
		     from pre as c
		          left join user_with_decile as u
		               on c.customer_unique_id=u.user_id)
	  ,time_series as (
	 select decile,
	        sum(payment_value) as monthly_value,
			avg(sum(payment_value)) over(rows between 3 preceding and current row) as monthly_moving_average,
		    year,
			month,
            concat(year,'-',month) as year_month
			from merged_data
			group by decile,year,month)
	  select cast(decile as varchar),
	         round(cast(monthly_value as numeric),2) as monthly_value,
			 round(cast(monthly_moving_average as numeric),2) as moving,
	         year_month
			 from time_series
			 where year_month between '2017-01' and '2018-08'
	         order by decile
```


![image](https://user-images.githubusercontent.com/53164959/86253760-e910ed80-bbef-11ea-9d0b-962991589a7f.png)


![image](https://user-images.githubusercontent.com/53164959/86235035-c7edd400-bbd2-11ea-9007-70fbc8401c58.png)

![image](https://user-images.githubusercontent.com/53164959/86235204-07b4bb80-bbd3-11ea-95dd-936f2ea25115.png)